header{
	width: 800px;
	height : 100px;
	background-color : blue;
}
#box1{
	width: 800px;
	height : 10px;
	background-color : red;
}#box2{
	width: 800px;
	height : 1000px;
	background-color : black;
}
footer{
	width: 800px;
	height : 100px;
	background-color : orange;
}
#wrapper {
	width: 800px;
	margin: 0 auto 0 auto;
}
p
